<html>
<head>
<title>fusiji service traffic</title>
</head>
<body>
Service Status: <font size=5 color="red"> {{STATUS}}</font>. &nbsp;&nbsp; <font size=1 color="gray">report at: {{TIME}}</font>
<br/>
<br/>

<h3><u>1. protocal information</u></h3>
<table width="500px">
<thead>
<tr>
<td><font color="gray"><b>PROTOCAL</b></font></td>
<td><font color="gray"><b>IN</font></b></td>
<td><font color="gray"><b>OUT</font></b></td>
</tr>
</thead>
<tbody>
<!--PROTOCAL-BODY-TEMPLATE-->
</tbody>
</table>

<br/>
<br/>

<h3><u>2. user information</u></h3>
<table width="500px">
<thead>
<tr>
<td><font color="gray"><b>USER</b></font></td>
<td><font color="gray"><b>IN</b></font></td>
<td><font color="gray"><b>OUT</b></font></td>
</tr>
</thead>
<tbody>
<!--USER-BODY-TEMPLATE-->
</tbody>
</table>
</body>
</html>

