<html>
<head>
<title>fusiji service traffic</title>
</head>
<body>
Service Status: <font size=5 color="red"> {{STATUS}}</font>. &nbsp;&nbsp; <font size=1 color="gray">report at: {{TIME}}</font>
<br/>
<br/>

<h3><u>1. protocal information</u></h3>
<table width="500px">
<thead>
<tr>
<td><font color="gray"><b>protocal</b></font></td>
<td><font color="gray"><b>in</font></b></td>
<td><font color="gray"><b>out</font></b></td>
</tr>
</thead>
<tbody>
<!--protocal-body-template-->
</tbody>
</table>

<br/>
<br/>

<h3><u>2. user information</u></h3>
<table width="500px">
<thead>
<tr>
<td><font color="gray"><b>user</b></font></td>
<td><font color="gray"><b>in</b></font></td>
<td><font color="gray"><b>out</b></font></td>
</tr>
</thead>
<tbody>
<!--user-body-template-->
</tbody>
</table>
</body>
</html>

